<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="Repair-Café Hilpoltstein - Benutzerkonto" />
        <meta name="keywords" content="Benutzerkonto" />
        <title>Repair-Café Hilpoltstein - Benutzerkonto</title>
    </head>
    <body>
        <p>Guten Tag,</p>
        <p>
            wir haben ein Benutzerkonto für Sie erstellt. Klicken sie <a href="{{ link }}">hier</a> um ihre Daten einzusehen und zu ändern.
        </p>
        <p>Ihr Anmeldedaten sind:</p>
        <p>Benutzername: {{ username }}</p>
        <p>Passwort: {{ password }}</p>
        <p>Herzliche Grüße sendet dir das Organisationsteam vom Repair-Café Hilpoltstein!</p>
    </body>
</html>
