<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="Einmal-Anmeldelink" />
        <meta name="keywords" content="Login" />
        <title>Einmal-Anmeldelink</title>
    </head>
    <body>
        <p>Guten Tag,</p>
        <p>
            wir haben für Sie einen Einmal-Ammeldelink erstellt. Wenn sie <a href="{{ link }}">hier</a> klicken können sie auf ihre Informationen zugreifen.
        </p>
        <p>Herzliche Grüße sendet dir das Organisationsteam vom Repair-Café Hilpoltstein!</p>
    </body>
</html>
