{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="Thomas Irgang">
        {% block head %}
        {% endblock head %}
        <link rel="stylesheet"
              href="{% static 'email_interface/bootstrap5/css/bootstrap.min.css' %}" />
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center">
                {% if messages %}
                    <div class="col-8">
                        <ul class="messages">
                            {% for message in messages %}
                                <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        <script src="{% static 'email_interface/bootstrap5/js/jquery-3.6.4.min.js' %}"></script>
        <script src="{% static 'email_interface/bootstrap5/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
        <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    </body>
</html>
