<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="one time login link" />
        <meta name="keywords" content="login" />
        <title>One time login</title>
    </head>
    <body>
        <p>Hello,</p>
        <p>
            we prepared a one time login for you. Click <a href="{{ link }}">here</a> to use the link.
        </p>
        <p>
            Kind regards,
            {{ organization }}
        </p>
    </body>
</html>
