{% load i18n %}
<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="one time login link" />
        <meta name="keywords" content="login" />
        <title>One time login</title>
    </head>
    <body>
        <p>{% trans "Hello" %},</p>
        <p>
            {% blocktrans with link=link %}
            we prepared a one time login for you. Click <a href="{{ link }}">here</a> to use the link.
            {% endblocktrans %}
        </p>
        <p>
            {% trans "Kind regards" %},
            {{ organization }}
        </p>
    </body>
</html>
