{% extends "repapp/base.html" %}
{% block title %}
    - Ihre Daten
{% endblock title %}
{% block page_title %}
    Ihre Daten
{% endblock page_title %}
{% block content %}
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">eMail Adresse</th>
                <td>{{ guest.mail }}</td>
            </tr>
            <tr>
                <th scope="row">Name</th>
                <td>{{ guest.name }}</td>
            </tr>
            <tr>
                <th scope="row">Wohnort</th>
                <td>{{ guest.residence }}</td>
            </tr>
            <tr>
                <th scope="row">Telefonnummer</th>
                <td>{{ guest.phone }}</td>
            </tr>
        </tbody>
    </table>
{% endblock content %}
