{% extends "repapp/base.html" %}
{% block title %}
    Mitarbeiter Anmeldung
{% endblock title %}
{% block page_title %}
    Mitarbeiter
    {% if user.is_authenticated %}
        Anmelden
    {% else %}
        Abmelden
    {% endif %}
{% endblock page_title %}
{% block content %}
    <div>
        {% if user.is_authenticated %}
            <p>Angemeldeter Benutzer: {{ user.email }}</p>
            <form action="{% url 'oidc_logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Abmelden</button>
            </form>
        {% else %}
            <a class="login_link" href="{% url 'oidc_authentication_init' %}">Anmelden mit Makes-Hacks-Hip</a>
        {% endif %}
    </div>
{% endblock content %}
