{% extends "repapp/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    - Gerät anmelden
{% endblock title %}
{% block page_title %}
    Gerät anmelden
{% endblock page_title %}
{% block content %}
    <form action="{% url 'register_device' cafe.id %}"
          method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary submit_button">Absenden</button>
    </form>
{% endblock content %}
